<%- include("template/header") %>
    <%- include("template/navbar") %>
        <%- include("template/aside") %>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <%- include('template/breadcrumb', {module: 'Dashboard' }) %>
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">

                                    <div class="card">
                                        <div class="card-header">
                                            Grafica longitudinal de Asistencia con tarjetas.
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Special Rol Proyect   </h5> <hr><p></p>
                                            <br>
                                            
                                            <p class="card-text">Descripcion calculada de horas laboradas, periodo de tiempo trabajado al día, de hora de inicio a hora final, longitud (horas) actividades. <br> Estableciendo una jornada diaria o semanal (Rol) , esperando la validacion de la hora entrada y hora salida.
                                            consultando a la base de datos; el almacenamiento de debitaciones validadas de Tarjetas de agentes o sin saldo, para registrar hora de entrada comparando si es cumplida la asignación admitiendo tolerancia de 10 (x) minutos. <br>
                                            Uniendo la barra longitudinal (Entrada - Salida) cada hora de la jornada cotidiana, llevando la obtención de asistencia por periodos de pago. 
                                                Representando y comprimiendo por hora, días, periodos de pago. </p> <br>
                                                <img src="/img/images.png">
                                                <br>
                                            <img src="/img/control01.png">
                                            <p class="card-text">Objetivo, visualización propuesta.</p>
                                            <a href="https://www.batna24.com/es/unifi-access-starter-kit-configuracion-e-instalacion" class="btn btn-primary">Go somewhere</a>
                                            <img src="/img/rola2.png">
                                            <p class="card-text">Objetivo, Formulario individual propuesto.</p>
                                            <a href="https://es.wordpress.org/plugins/booking/" class="btn btn-primary">Go somewhere</a>
                                                
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>

                    <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <%- include("template/footer") %>