<%- include("template/header") %>
    <%- include("template/navbar") %>
        <%- include("template/aside") %>
        <link rel="stylesheet" href="/css/style.css">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <%- include('template/breadcrumb', {module: 'GUIA DE REFERENCIA' }) %>
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">

                                    <div class="card">
                                        <div class="card-header">
                                            CUESTIONARIO PARA IDENTIFICAR LOS FACTORES DE RIESGO PSICOSOCIAL EN LOS CENTROS DE TRABAJO											
											

                                       
                                        
                                       </div>
                                        <div class="card-body">
                                            <h5 class="card-title">* El contenido de esta guía es un complemento para la mejor comprensión de la presente Norma, y no es  de cumplimiento obligatorio, puede ser utilizada por aquellos centros de trabajo que tengan hasta 50 trabajadores.  
                                            <br><br> "*La identificación y análisis de los factores de riesgo psicosocial a que se refiere el numeral 8.1, inciso a),
                                            de la presente Norma, se podrá realizar aplicando el cuestionario siguiente:"	 </h5> <hr><p></p>  										
                                            <br><br>
                                            
                                            <p class="card-text">
                                            <p> 11.1 El cuestionario deberá aplicarse a todos los trabajadores del centro de trabajo	</p> 										
                                            <p> II.2 Para la aplicación del cuestionario deberán cumplirse, al menos las condiciones siguientes: 	</p> 										
                                                                                            
                                            <p> A) Antes de iniciar la aplicación del cuestionario deberá: 		</p> 									
                                            <p> 1) Verificar que las condiciones de las instalaciones y mobiliario sean idóneas. </p>  											
                                            <p> 2) Realizar la presentación del aplicador ante las personas a evaluar;				</p> 							
                                            <p> 3) Explicar el objetivo de la evaluación. 											</p> 
                                            <p> 4) Enfatizar en la protección de la privacidad y confidencialidad del manejo de los datos, y que el uso de la información proporcionada  por el trabajador (ver Guía de referencia V Datos del trabajador) y de sus resultados será exclusivamente para fines de mejora del ambiente del trabajo. 		</p> 									
                                            <p> 5) Dar instrucciones claras sobre: la forma de responder a las preguntas de las diferentes secciones; que se conteste el cuestionario completamente; que no existen respuestas correctas o incorrectas; que es necesaria su concentración ; que se consideren las condiciones de los dos últimos meses, y que su opinión es lo mas importante por lo que se le pide que conteste con sinceridad.			</p> 								
                                            <p> 6) Iniciar la aplicación en el orden siguiente: en primer lugar, el cuestionario sobre factores de riesgo psicosocial y, en segundo lugar, en su caso, realizar el llenado de la ficha de datos generales sobre el trabajador. 		</p> 									
                                                                          <br>                  
                                                                          <p> B) Durante la aplicación del cuestionario deberá: 			</p> 								
                                            <p> 1) Propiciar un ambiente de confianza. 		</p> 									
                                            <p> 2) Aclarar dudas y brindar apoyo a los trabajadores que lo requieran.		</p> 									
                                            <p> 3) Verificar que las indicaciones proporcionadas hayan quedado claras.		</p> 									
                                            <p> 4) Evitar interrumpir a los trabajadores cuando realicen sus respuestas.	</p> 										
                                            <p> 5) Evitar conducir, persuadir o dirigir respuestas.		</p> 									
                                                                                            
                                            <p> C) Después de la aplicación del cuestionario se deberá	</p> 										
                                            <p> 1) Recoger cada cuestionario y verificar que hayan sido respondidos completamente, sin tachaduras o enmendaduras.	</p> 										
                                            <p> 2) Comprobar que la cantidad de cuestionarios entregados corresponda con la cantidad de cuestionarios respondidos, y que a su vez corresponda con el tamaño mínimo de la muestra.	</p> 										
                                                    
                                            </p> <br>
                                           <section>
                                            <div class="card">
                                                <div class="container">
                                                    <div class="course-card">
                                                        <h6>Datos Generales</h6>
                                                        <p>3: respuestas<br></p>
                                                        <a href="/data" onclick="confirmation_encuesta();" class="btn btn-info"> Empezar <i class="fa-regular fa-pen-to-square"></i></a>
                                                        <a href="/resdata"onclick="confirmation_respuesta();" class="btn btn-danger"> Informe <i class="fa-solid fa-file"></i></a>
                                                        
                                                    </div>
                                                    <div class="course-card">
                                                        <h6>Eventos traumaticos </h6>
                                                        <p>3: respuestas</p>
                                                        <a href="/events" onclick="confirmation_encuesta();" class="btn btn-info"> Empezar <i class="fa-regular fa-pen-to-square"></i></a>
                                                        <a href="/res_events"onclick="confirmation_respuesta();" class="btn btn-danger"> Informe <i class="fa-solid fa-file"></i></a>
                                                        
                                                    </div>
                                                    <div class="course-card">
                                                        <h6>Guia de referencia 2</h6>
                                                        <p>3: respuestas</p>
                                                        <a href="/guia2" onclick="confirmation_encuesta();" class="btn btn-info"> Empezar <i class="fa-regular fa-pen-to-square"></i></a>
                                                        <a href="/res_guia2"onclick="confirmation_respuesta();" class="btn btn-danger"> Informe <i class="fa-solid fa-file"></i></a>
                                                        
                                                    </div>
                                                    <div class="course-card">
                                                        <h7>Guia de referencia 3</h7>
                                                        <p>3: respuestas</p>
                                                        <a href="/guia3" onclick="confirmation_encuesta();" class="btn btn-info"> Empezar <i class="fa-regular fa-pen-to-square"></i></a>
                                                        <a href="/res_guia3"onclick="confirmation_respuesta();" class="btn btn-danger"> Informe <i class="fa-solid fa-file"></i></a>
                                                          
                                                    </div>
                                                </div>
                                               
                                            </div>
                                           </section> 
                                        </div>

                                        
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>

                    <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <%- include("template/footer") %>