<%- include("template/header") %>
    <%- include("template/navbar") %>
        <%- include("template/aside") %>
        <link rel="stylesheet" href="/css/style.css">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <%- include('template/breadcrumb', {module: 'Principal' }) %>
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">

                                    <div class="card">
                                        <div class="card-header">
                                            Menú de navegacion											
											

                                       
                                        
                                       </div>
                                        <div class="card-body">
                                            <h5 class="card-title">* Está páguina te ayuda a tener una navegacion hacia los cuestionarios, así como a los resultados respectivos.   	 </h5> <hr><p></p>  										
                                            <br><br>
                                            
                                            
                                            <section>
                                                <div class="container mt-4">
                                                    <!-- Título estático -->
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h3 class="card-title">Cuestionario para Identificar los Factores de Riesgo Psicosocial en los Centros de Trabajo</h3>
                                                            <div class="card-tools">
                                                                <!-- Botón para colapsar o expandir -->
                                                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Colapsar">
                                                                    <i class="fas fa-minus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <!-- Contenido del cuestionario (colapsable) -->
                                                        <div class="card-body">
                                                            <p><strong>*</strong> El contenido de esta guía es un complemento para la mejor comprensión de la presente Norma, y no es de cumplimiento obligatorio, puede ser utilizada por aquellos centros de trabajo que tengan hasta 50 trabajadores.</p>
                                                            
                                                            <p><strong>**</strong> La identificación y análisis de los factores de riesgo psicosocial a que se refiere el numeral 8.1, inciso a), de la presente Norma, se podrá realizar aplicando el cuestionario siguiente:</p>
                                                            
                                                            <h4>11.1</h4>
                                                            <p>El cuestionario deberá aplicarse a todos los trabajadores del centro de trabajo.</p>
                                                            
                                                            <h4>II.2 Para la aplicación del cuestionario deberán cumplirse, al menos, las condiciones siguientes:</h4>
                                                            <h5>A) Antes de iniciar la aplicación del cuestionario deberá:</h5>
                                                            <ol>
                                                                <li>Verificar que las condiciones de las instalaciones y mobiliario sean idóneas.</li>
                                                                <li>Realizar la presentación del aplicador ante las personas a evaluar.</li>
                                                                <li>Explicar el objetivo de la evaluación.</li>
                                                                <li>Enfatizar en la protección de la privacidad y confidencialidad del manejo de los datos, y que el uso de la información proporcionada por el trabajador será exclusivamente para fines de mejora del ambiente de trabajo.</li>
                                                                <li>Dar instrucciones claras sobre cómo responder a las preguntas de las diferentes secciones; que se conteste completamente y que se consideren las condiciones de los últimos dos meses.</li>
                                                                <p> 6) Iniciar la aplicación en el orden siguiente: en primer lugar, el cuestionario sobre factores de riesgo psicosocial y, en segundo lugar, en su caso, realizar el llenado de la ficha de datos generales sobre el trabajador. 		</p> 									
                                                                          <br>                  
                                                                          <p> B) Durante la aplicación del cuestionario deberá: 			</p> 								
                                             <p> 1) Propiciar un ambiente de confianza. 		</p> 									
                                            <p> 2) Aclarar dudas y brindar apoyo a los trabajadores que lo requieran.		</p> 									
                                            <p> 3) Verificar que las indicaciones proporcionadas hayan quedado claras.		</p> 									
                                            <p> 4) Evitar interrumpir a los trabajadores cuando realicen sus respuestas.	</p> 										
                                            <p> 5) Evitar conducir, persuadir o dirigir respuestas.		</p> 									
                                                                                            
                                            <p> C) Después de la aplicación del cuestionario se deberá	</p> 										
                                            <p> 1) Recoger cada cuestionario y verificar que hayan sido respondidos completamente, sin tachaduras o enmendaduras.	</p> 										
                                            <p> 2) Comprobar que la cantidad de cuestionarios entregados corresponda con la cantidad de cuestionarios respondidos, y que a su vez corresponda con el tamaño mínimo de la muestra.	</p> 										
                                                    
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>

                                           <section>       <!-- Contenedor de las tarjetas -->
                                                <div class="container">
                                                 <div class="row">
                                                    <!-- Tarjeta 1 -->
                                                    <div class="col-md-3 col-sm-6 col-12">
                                                      <div class="card">
                                                        <div class="card-header">
                                                            <h3 class="card-title">Capturar Datos Generales </h3>
                                                         <div class="card-tools">
                                                              <!-- Botón para colapsar la tarjeta -->
                                                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                 <i class="fas fa-minus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                            <div class="card-body">
                                                <p>N: respuestas</p>
                                                 <a href="/data" onclick="confirmation_encuesta();" class="btn btn-info"> Empezar <i class="fa-regular fa-pen-to-square"></i></a>
                                                    <a href="/resdata"onclick="confirmation_respuesta();" class="btn btn-danger"> Informe <i class="fa-solid fa-file"></i></a>
                                                        
                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Eventos Traumáticos</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <p>3: respuestas</p>
                    <a href="/events" onclick="confirmation_encuesta();" class="btn btn-info"> Empezar <i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="/res_events"onclick="confirmation_respuesta();" class="btn btn-danger"> Informe <i class="fa-solid fa-file"></i></a>
                                                        
                </div>
            </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Guía de referencia 2</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <p>3: respuestas</p>
                    <a href="/guia2" onclick="confirmation_encuesta();" class="btn btn-info"> Empezar <i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="/res_guia2"onclick="confirmation_respuesta();" class="btn btn-danger"> Informe <i class="fa-solid fa-file"></i></a>
                                                       
                </div>
            </div>
        </div>

        <!-- Tarjeta 4 -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Guía de referencia 3</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <p>3: respuestas</p>
                    <button class="btn btn-primary">Empezar</button>
                    <button class="btn btn-danger">Informe</button>
                </div>
            </div>
        </div>
    </div>
</div>

                                        </section> 
                                        </div>

                                        
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>

                    <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <%- include("template/footer") %>