<%- include("template/header") %>
    <%- include("template/navbar") %>
        <%- include("template/aside") %>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <%- include('template/breadcrumb', {module: 'Dashboard' }) %>
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">

                                    <div class="card">
                                        <div class="card-header">
                                            Asistencia Con tarjetas!!! :o)
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Special title Proyect</h5>
                                            <br>
                                            <p class="card-text">Servicio de generación de horarios para el periodo de trabajo, usando el protoclo UDM o consultando a la base de datos; el almacenamiento de debitaciones validadas de Tarjetas de agentes, para registrar hora de entrada asignada más, menos tolerancia de 10 minutos.  Uniendo la barra longitudinal (Entrada - Salida) cada hora de la jornada cotidiana, llevando la obtención de asistencia por periodos de pago. 
                                                Representando y comprimiendo por hora, días, periodos de pago. </p> <br><br>
                                            <img src="/img/k-8.png">
                                            <p class="card-text">Kit de inicio de Unifi Access</p>
                                            <a href="https://www.batna24.com/es/unifi-access-starter-kit-configuracion-e-instalacion" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>

                    <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <%- include("template/footer") %>