<%- include("template/header") %>
    <%- include("template/navbar") %>
        <%- include("template/aside") %>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <%- include('template/breadcrumb', {module: 'Dashboard' }) %>
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">

                                    <div class="card">
                                        <div class="card-header">
                                            Grafica longitudinal de Asistencia con tarjetas.
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Descripcion. El agente Escritor realizara las graficas, mensuales o diarias que podrán ver los lectores así que la actualizacion periodica de la informacion para consulta.
                                            </p> <br>
                                                    <img src="/img/images01.png">
                                                    <br>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>

                    <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <%- include("template/footer") %>