<%- include("template/header") %>
    <%- include("template/navbar") %>
        <%- include("template/aside") %>
        <style>
          .card {
              margin: 20px;
          }
          .radio-group {
              display: flex;
              justify-content: space-between;
          }
          .radio-group label {
              flex: 1;
              text-align: center;
          }
          .emoji-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .emoji-group label {
            flex: 1;
            text-align: center;
            cursor: pointer;
        }
        .emoji-group input[type="radio"] {
            display: none;
        }
        .emoji-group label i {
            font-size: 2rem;
            color: gray;
        }
        .emoji-group input[type="radio"]:checked + label i {
            color: #007bff;
        }
      </style>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                
                <%- include('template/breadcrumb', {module: 'Evaluación de Eventos traumaticos' }) %>
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">

                                    <div class="card">
                                        <div class="card-header">
                                            Identificación de eventos traumáticos severos
                                           

                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Creación del softweare para la Guia de referencia II y III 
                                                <br>Agregar a la evaluación de eventos traumáticos  severos 
                                            </p> <br>
                                            
                                              
                                              <section class="content-header">
                                                <div class="wrapper">
                                                  <!-- Contenedor de la encuesta -->
                                                  <div class="container mt-6">
                                                      <div class="card">
                                                          <div class="card-header">
                                                              <h3 class="card-title">Encuesta de Eventos traumaticos</h3>
                                                              <div class="card-tools">
                                                                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                      <i class="fas fa-minus"></i>
                                                                  </button>
                                                                </div>

                                                            </div>    
                                                          <div class="wrapper">
                                                            <!-- Content Wrapper. Contains page content -->
                                                            <div class="content-wrapper">
                                                                <!-- Main content -->
                                                                <section class="content">
                                                                    <div class="container-fluid">
                                                                        <div class="card card-primary">
                                                                            <div class="card-header">
                                                                                <h3 class="card-title">Cuestionario NOM-035</h3>
                                                                            </div>
                                                                            <!-- form start -->
                                                                            <form id="nom035Form" method="POST" action="/submit1">
                                                                                <div class="card-body">
                                                                                    <!-- Sección I: Acontecimiento traumático severo -->
                                                                                    <div class="form-group">
                                                                                        <label>Acontecimiento traumático severo</label>
                                                                                        <div class="form-check">
                                                                                            <input class="form-check-input" type="checkbox" name="pregunta1" value="si">
                                                                                            <label class="form-check-label">¿Ha presenciado o sufrido algún evento como un accidente, asalto o secuestro?</label>
                                                                                        </div>
                                                                                    </div>
                                                    
                                                                                    <!-- Sección II: Recuerdos persistentes -->
                                                                                    <div class="form-group">
                                                                                        <label>Recuerdos persistentes sobre el acontecimiento</label>
                                                                                        <div class="form-check">
                                                                                            <input class="form-check-input" type="checkbox" name="pregunta2" value="si">
                                                                                            <label class="form-check-label">¿Ha tenido recuerdos recurrentes que le provocan malestar?</label>
                                                                                        </div>
                                                                                    </div>
                                                    
                                                                                    <!-- Sección III: Esfuerzo por evitar circunstancias -->
                                                                                    <div class="form-group">
                                                                                        <label>Esfuerzo por evitar circunstancias similares</label>
                                                                                        <div class="form-check">
                                                                                            <input class="form-check-input" type="checkbox" name="pregunta3" value="si">
                                                                                            <label class="form-check-label">¿Ha evitado sentimientos o actividades que le recuerdan el acontecimiento?</label>
                                                                                        </div>
                                                                                    </div>
                                                    
                                                                                    <!-- Sección IV: Afectación -->
                                                                                    <div class="form-group">
                                                                                        <label>Afectación</label>
                                                                                        <div class="form-check">
                                                                                            <input class="form-check-input" type="checkbox" name="pregunta4" value="si">
                                                                                            <label class="form-check-label">¿Ha tenido dificultades para dormir?</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- /.card-body -->
                                                                                <div class="card-footer">
                                                                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                                <!-- /.content -->
                                                            </div>
                                                        </div>

                                                         
                                                  </div>
                                              </div>
                                                              
      </div>
                                                     
                                          </div>
                                          
                                      </div>
  
                                  </div>
                              </div>
                          </div><!-- /.container-fluid -->
                      </section>
                                                    
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>

                    <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <script>
                document.getElementById("nom035Form").addEventListener("submit", function(event) {
                    event.preventDefault(); // Evita el envío inmediato del formulario
                    
                    // Muestra el mensaje de éxito con SweetAlert
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Tu encuesta ha sido enviada",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function() {
                        // Redirige a la página asistencia después de que se muestra la alerta
                        window.location.href = "/asistencia";
                    });
                });
           
           </script>
            <%- include("template/footer") %>