<%- include("template/header") %>
    <%- include("template/navbar") %>
        <%- include("template/aside") %>
        <style>
            .card {
                margin: 20px;
            }
            .radio-group {
                display: flex;
                justify-content: space-between;
            }
            .radio-group label {
                flex: 1;
                text-align: center;
            }
            .emoji-group {
              display: flex;
              justify-content: space-between;
              align-items: center;
          }
          .emoji-group label {
              flex: 1;
              text-align: center;
              cursor: pointer;
          }
          .emoji-group input[type="radio"] {
              display: none;
          }
          .emoji-group label i {
              font-size: 2rem;
              color: gray;
          }
          .emoji-group input[type="radio"]:checked + label i {
              color: #007bff;
          }
        </style>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                
                <%- include('template/breadcrumb', {module: 'Evaluación de Eventos traumaticos' }) %>
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">

                                    <div class="card">
                                        <div class="card-header">
                                            Guia de referencia 2 
                                        </div>
                                        <h5>Identificación y Análisis de los Factores de Riesgo Psicosocial</h5>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </div>
            
                        <!-- Main content -->
                        <div class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Box for Instructions -->
                                        <div class="card card-primary instructions" id="instructions">
                                            <div class="card-header">
                                                <h3 class="card-title">Instrucciones</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <p><strong>*</strong> El contenido de esta guía es un complemento para la mejor comprensión de la presente Norma...</p>
                                                <h5>A) Antes de iniciar la aplicación del cuestionario deberá:</h5>
                                                <ul>
                                                    <li>Verificar que las condiciones de las instalaciones y mobiliario sean idóneas.</li>
                                                    <li>Realizar la presentación del aplicador ante las personas a evaluar.</li>
                                                    <li>Explicar el objetivo de la evaluación.</li>
                                                    <li>Enfatizar en la protección de la privacidad y confidencialidad...</li>
                                                    <li>Dar instrucciones claras sobre: la forma de responder...</li>
                                                    <li><strong>Iniciar la aplicación en el orden siguiente:</strong> primero el cuestionario sobre factores de riesgo psicosocial...</li>
                                                </ul>
            
                                                <h5>B) Durante la aplicación del cuestionario deberá:</h5>
                                                <ul>
                                                    <li>Propiciar un ambiente de confianza.</li>
                                                    <li>Aclarar dudas y brindar apoyo a los trabajadores que lo requieran.</li>
                                                    <li>Verificar que las indicaciones proporcionadas hayan quedado claras.</li>
                                                    <li>Evitar interrumpir a los trabajadores cuando realicen sus respuestas.</li>
                                                    <li>Evitar conducir, persuadir o dirigir respuestas.</li>
                                                </ul>
            
                                                <h5>C) Después de la aplicación del cuestionario se deberá:</h5>
                                                <ul>
                                                    <li>Recoger cada cuestionario y verificar que hayan sido respondidos completamente...</li>
                                                    <li>Comprobar que la cantidad de cuestionarios entregados corresponda con la cantidad de cuestionarios respondidos...</li>
                                                </ul>
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button id="btn-read" class="btn btn-success">He leído las instrucciones</button>
                                            </div>
                                        </div>
            
                                        <!-- Hidden section placeholder -->
                                        <div class="card card-success hide-section" id="hidden-section">
                                            <div class="card-body">
                                                <p>Las instrucciones han sido leídas. Puede proceder con la aplicación del cuestionario.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                                        <section>
                                            <div class="container mt-4">
                                                <!-- Título estático -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Para responder las preguntas siguientes considere las condiciones de su centro de trabajo, así como <br>la cantidad y ritmo de trabajo.  </h3>
                                                        <div class="card-tools">
                                                            <!-- Botón para colapsar o expandir -->
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Colapsar">
                                                                <i class="fas fa-minus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- Contenido del cuestionario (colapsable) -->
                                                    <div class="card-body">
                                                        <div class="card-body">
                                                            <div class="card-body">
                                                              
                                                          </div>
                                                      </div>
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        
                                        <section>
                                            <div class="container mt-4">
                                                <!-- Título estático -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Para responder las preguntas siguientes considere las condiciones de su centro de trabajo, así como <br>la cantidad y ritmo de trabajo.  </h3>
                                                        <div class="card-tools">
                                                            <!-- Botón para colapsar o expandir -->
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Colapsar">
                                                                <i class="fas fa-minus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- Contenido del cuestionario (colapsable) -->
                                                    <div class="card-body">
                                                        <div class="card-body">
                                                            <div class="card-body">
                                                              <form id="encuestaForm">
                                                                  <!-- Pregunta 1 -->
                                                                  <div class="form-group">
                                                                      <label for="pregunta1">1.- Mi trabajo me exige hacer mucho esfuerzo físico </label>
                                                                      <div class="emoji-group">
                                                                          <input type="radio" name="pregunta1" id="p1-0" value="0">
                                                                          <label for="p1-0">
                                                                              <i class="far fa-angry"></i>
                                                                          </label>
                                                                          <input type="radio" name="pregunta1" id="p1-1" value="1">
                                                                          <label for="p1-1">
                                                                              <i class="far fa-frown"></i>
                                                                          </label>
                                                                          <input type="radio" name="pregunta1" id="p1-2" value="2">
                                                                          <label for="p1-2">
                                                                              <i class="far fa-meh"></i>
                                                                          </label>
                                                                          <input type="radio" name="pregunta1" id="p1-3" value="3">
                                                                          <label for="p1-3">
                                                                              <i class="far fa-smile"></i>
                                                                          </label>
                                                                          <input type="radio" name="pregunta1" id="p1-4" value="4">
                                                                          <label for="p1-4">
                                                                              <i class="far fa-laugh-beam"></i>
                                                                          </label>
                                                                          
                                                                      </div>
                                                                  </div>
                                          
                                                                  <!-- Pregunta 2 -->
                                                                  <div class="form-group">
                                                                      <label for="pregunta2">2.- Me preocupa sufrir un accidente en mi trabajo </label>
                                                                      <div class="emoji-group">
                                                                          <input type="radio" name="pregunta2" id="p2-0" value="0">
                                                                          <label for="p2-0">
                                                                              <i class="far fa-angry"></i>
                                                                          </label>
                                                                          <input type="radio" name="pregunta2" id="p2-1" value="1">
                                                                          <label for="p2-1">
                                                                              <i class="far fa-frown"></i>
                                                                          </label>
                                                                          <input type="radio" name="pregunta2" id="p2-2" value="2">
                                                                          <label for="p2-2">
                                                                              <i class="far fa-meh"></i>
                                                                          </label>
                                                                          <input type="radio" name="pregunta2" id="p2-3" value="3">
                                                                          <label for="p2-3">
                                                                              <i class="far fa-smile"></i>
                                                                          </label>
                                                                          <input type="radio" name="pregunta2" id="p2-4" value="4">
                                                                          <label for="p2-4">
                                                                              <i class="far fa-laugh-beam"></i>
                                                                          </label>
                                                                      </div>
                                                                  </div>
                                          
                                                                  <!-- Pregunta 3 -->
                                                                  <div class="form-group">
                                                                      <label for="pregunta3">3.- Por la cantidad de trabajo que tengo debo quedarme tiempo adicional a mi turno. </label>
                                                                      <div class="emoji-group">
                                                                          <input type="radio" name="pregunta3" id="p3-0" value="0">
                                                                          <label for="p3-0">
                                                                              <i class="far fa-angry"></i>
                                                                          </label>
                                                                          <input type="radio" name="pregunta3" id="p3-1" value="1">
                                                                          <label for="p3-1">
                                                                              <i class="far fa-frown"></i>
                                                                          </label>
                                                                          <input type="radio" name="pregunta3" id="p3-2" value="2">
                                                                          <label for="p3-2">
                                                                              <i class="far fa-meh"></i>
                                                                          </label>
                                                                          <input type="radio" name="pregunta3" id="p3-3" value="3">
                                                                          <label for="p3-3">
                                                                              <i class="far fa-smile"></i>
                                                                          </label>
                                                                          <input type="radio" name="pregunta3" id="p3-4" value="4">
                                                                          <label for="p3-4">
                                                                              <i class="far fa-laugh-beam"></i>
                                                                          </label>
                                                                      </div>
                                                                  </div>
                                                                  <!-- Pregunta  4-->
                                                                  <div class="form-group">
                                                                    <label for="pregunta3">4.- Por la cantidad de trabajo que tengo debo quedarme tiempo adicional a mi turno. </label>
                                                                    <div class="emoji-group">
                                                                        <input type="radio" name="pregunta3" id="p3-0" value="0">
                                                                        <label for="p3-0">
                                                                            <i class="far fa-angry"></i>
                                                                        </label>
                                                                        <input type="radio" name="pregunta3" id="p3-1" value="1">
                                                                        <label for="p3-1">
                                                                            <i class="far fa-frown"></i>
                                                                        </label>
                                                                        <input type="radio" name="pregunta3" id="p3-2" value="2">
                                                                        <label for="p3-2">
                                                                            <i class="far fa-meh"></i>
                                                                        </label>
                                                                        <input type="radio" name="pregunta3" id="p3-3" value="3">
                                                                        <label for="p3-3">
                                                                            <i class="far fa-smile"></i>
                                                                        </label>
                                                                        <input type="radio" name="pregunta3" id="p3-4" value="4">
                                                                        <label for="p3-4">
                                                                            <i class="far fa-laugh-beam"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <!-- Pregunta  5-->
                                                                <div class="form-group">
                                                                  <label for="pregunta3">5.- Por la cantidad de trabajo que tengo debo trabajar sin parar </label>
                                                                  <div class="emoji-group">
                                                                      <input type="radio" name="pregunta3" id="p3-0" value="0">
                                                                      <label for="p3-0">
                                                                          <i class="far fa-angry"></i>
                                                                      </label>
                                                                      <input type="radio" name="pregunta3" id="p3-1" value="1">
                                                                      <label for="p3-1">
                                                                          <i class="far fa-frown"></i>
                                                                      </label>
                                                                      <input type="radio" name="pregunta3" id="p3-2" value="2">
                                                                      <label for="p3-2">
                                                                          <i class="far fa-meh"></i>
                                                                      </label>
                                                                      <input type="radio" name="pregunta3" id="p3-3" value="3">
                                                                      <label for="p3-3">
                                                                          <i class="far fa-smile"></i>
                                                                      </label>
                                                                      <input type="radio" name="pregunta3" id="p3-4" value="4">
                                                                      <label for="p3-4">
                                                                          <i class="far fa-laugh-beam"></i>
                                                                      </label>
                                                                  </div>
                                                              </div>
                                                            <!-- Pregunta 6 -->
                                                            <div class="form-group">
                                                                <label for="pregunta1">6.- Considero que es necesario mantener mi ritmo de trabajo acelerado.  </label>
                                                                <div class="emoji-group">
                                                                    <input type="radio" name="pregunta1" id="p1-0" value="0">
                                                                    <label for="p1-0">
                                                                        <i class="far fa-angry"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta1" id="p1-1" value="1">
                                                                    <label for="p1-1">
                                                                        <i class="far fa-frown"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta1" id="p1-2" value="2">
                                                                    <label for="p1-2">
                                                                        <i class="far fa-meh"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta1" id="p1-3" value="3">
                                                                    <label for="p1-3">
                                                                        <i class="far fa-smile"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta1" id="p1-4" value="4">
                                                                    <label for="p1-4">
                                                                        <i class="far fa-laugh-beam"></i>
                                                                    </label>
                                                                    
                                                                </div>
                                                            </div>
                                    
                                                            <!-- Pregunta 7 -->
                                                            <div class="form-group">
                                                                <label for="pregunta2">7.- Mi trabajo exige que esté muy concentrado  </label>
                                                                <div class="emoji-group">
                                                                    <input type="radio" name="pregunta2" id="p2-0" value="0">
                                                                    <label for="p2-0">
                                                                        <i class="far fa-angry"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta2" id="p2-1" value="1">
                                                                    <label for="p2-1">
                                                                        <i class="far fa-frown"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta2" id="p2-2" value="2">
                                                                    <label for="p2-2">
                                                                        <i class="far fa-meh"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta2" id="p2-3" value="3">
                                                                    <label for="p2-3">
                                                                        <i class="far fa-smile"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta2" id="p2-4" value="4">
                                                                    <label for="p2-4">
                                                                        <i class="far fa-laugh-beam"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                    
                                                            <!-- Pregunta 8 -->
                                                            <div class="form-group">
                                                                <label for="pregunta3">8.- Mi trabajo exige que memorice mucha información </label>
                                                                <div class="emoji-group">
                                                                    <input type="radio" name="pregunta3" id="p3-0" value="0">
                                                                    <label for="p3-0">
                                                                        <i class="far fa-angry"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta3" id="p3-1" value="1">
                                                                    <label for="p3-1">
                                                                        <i class="far fa-frown"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta3" id="p3-2" value="2">
                                                                    <label for="p3-2">
                                                                        <i class="far fa-meh"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta3" id="p3-3" value="3">
                                                                    <label for="p3-3">
                                                                        <i class="far fa-smile"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta3" id="p3-4" value="4">
                                                                    <label for="p3-4">
                                                                        <i class="far fa-laugh-beam"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                             <!-- Pregunta 9 -->
                                                             <div class="form-group">
                                                                <label for="pregunta3">9.- Mi trabajo exige que atienda varios asuntos al mismo tiempo</label>
                                                                <div class="emoji-group">
                                                                    <input type="radio" name="pregunta3" id="p3-0" value="0">
                                                                    <label for="p3-0">
                                                                        <i class="far fa-angry"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta3" id="p3-1" value="1">
                                                                    <label for="p3-1">
                                                                        <i class="far fa-frown"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta3" id="p3-2" value="2">
                                                                    <label for="p3-2">
                                                                        <i class="far fa-meh"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta3" id="p3-3" value="3">
                                                                    <label for="p3-3">
                                                                        <i class="far fa-smile"></i>
                                                                    </label>
                                                                    <input type="radio" name="pregunta3" id="p3-4" value="4">
                                                                    <label for="p3-4">
                                                                        <i class="far fa-laugh-beam"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                          
                                                                  <!-- Botón de envío -->
                                                                  <button type="submit" class="btn btn-primary">Enviar Encuesta</button>
                                                              </form>
                                                          </div>
                                                      </div>
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        
                                        
                                    </div>

                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>

                    <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <script>
                document.getElementById("btn-read").addEventListener("click", function() {
                    // Hide instructions and show hidden section
                    document.getElementById("instructions").style.display = "none";
                    document.getElementById("hidden-section").style.display = "block";
                });
            </script>
            <%- include("template/footer") %>