<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside", { userName: userName, image: image}) %> 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Analisis de problema'}) %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">            
           
           <div class="card">
    <div class="card-header">
        Hola, <%= userName %>
    </div>

    <div class="card-body">
        <h5 class="card-title">
            Plataforma de Administración y Gestión Empresarial
        </h5>

        <p class="card-text">
            <br>
            <h1>Objetivo General</h1>
            Crear un sistema centralizado que permita administrar, controlar y gestionar 
            la información de las distintas áreas de la empresa, incluyendo:
        </p>

        <ul>
            <li>Seguridad y Salud en el Trabajo</li>
            <li>Administración y Recursos Humanos</li>
            <li>Proyectos de Ingeniería</li>
            <li>Proyectos de Pailería y Fabricación</li>
            <li>Inventario de materiales, herramientas y equipos</li>
            <li>Reportes, indicadores y análisis para la toma de decisiones</li>
        </ul>

        <p class="card-text">
            Esta plataforma busca mejorar la organización, agilizar procesos internos,
            reducir errores y facilitar la comunicación entre todas las áreas de la empresa.
        </p>
    </div>
</div>


          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <%- include("template/footer") %>