<%- include("template/header") %>
    <%- include("template/navbar") %>
        <%- include("template/aside") %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <style>
          .form-container {
              max-width: 800px;
              margin: 50px auto;
              padding: 20px;
              background-color: #f9f9f9;
              border-radius: 10px;
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          }
          .form-title {
              margin-bottom: 30px;
              font-size: 1.5rem;
              font-weight: bold;
              color: #333;
          }
          .form-group {
              margin-bottom: 15px;
          }
          .btn-primary {
              background-color: #007bff;
              border-color: #007bff;
          }
          .btn-primary:hover {
              background-color: #0056b3;
              border-color: #004085;
          }
      </style>
      
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                
                <%- include('template/breadcrumb', {module: 'Evaluación de Eventos traumaticos' }) %>
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">

                                    <div class="card">
                                        <div class="card-header">
                                            Identificación de eventos traumáticos severos
                                           

                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Datos Generales del Colaborador
                                                <br>Agregar la información personal del colaborador.
                                            </p> <br>
                                            <section class="content-header">
                                                
                                              <div class="container">
                                                <div class="form-container">
                                                    <h2 class="form-title">Encuesta de Datos de Trabajadores</h2>
                                                    <form action="/submit" method="POST">
                                                        <!-- Id_Empleado -->
                                                <div class="form-group">
                                                    <label for="id_empleado">Id Empleado</label>
                                                    <input type="number" class="form-control" id="id_empleado" name="id_empleado" placeholder="Número de empleado" required>
                                                    <div id="empleado-error" style="color: red; display: none;">Este empleado ya está registrado.</div>

                                                </div>
                                                <!-- razon_social -->
                                                <div class="form-group">
                                                    <label for="razon_social">Razón Social</label>
                                                    <input type="text" class="form-control" id="razon_social" name="razon_social" placeholder="Razón social" required>
                                                </div>
                                                        <!-- Género -->
                                                        <div class="form-group">
                                                            <label for="genero">Género:</label>
                                                            <select class="form-control" id="genero" name="genero" required>
                                                                <option value="">Seleccione</option>
                                                                <option value="Mujeres">Mujeres</option>
                                                                <option value="Hombres">Hombres</option>
                                                            </select>
                                                        </div>
                                            
                                                        <!-- Edad -->
                                                        <div class="form-group">
                                                            <label for="edad">Edad:</label>
                                                            <select class="form-control" id="edad" name="edad" required>
                                                                <option value="">Seleccione</option>
                                                                <option value="20-24">20-24</option>
                                                                <option value="25-29">25-29</option>
                                                                <option value="30-34">30-34</option>
                                                                <option value="35-39">35-39</option>
                                                                <option value="40-44">40-44</option>
                                                                <option value="45-49">45-49</option>
                                                                <option value="50-55">50-55</option>
                                                                <option value="55-60">55-60</option>
                                                            </select>
                                                        </div>
                                            
                                                        <!-- Estado Civil -->
                                                        <div class="form-group">
                                                            <label for="estado_civil">Estado Civil:</label>
                                                            <select class="form-control" id="estado_civil" name="estado_civil" required>
                                                                <option value="">Seleccione</option>
                                                                <option value="Casado">Casado</option>
                                                                <option value="Soltero">Soltero</option>
                                                                <option value="Divorciado">Divorciado</option>
                                                                <option value="Unión Libre">Unión Libre</option>
                                                                <option value="Viudo">Viudo</option>
                                                            </select>
                                                        </div>
                                            
                                                        <!-- Escolaridad -->
                                                        <div class="form-group">
                                                            <label for="escolaridad">Escolaridad:</label>
                                                            <select class="form-control" id="escolaridad" name="escolaridad" required>
                                                                <option value="">Seleccione</option>
                                                                <option value="Incompleto">Incompleto</option>
                                                                <option value="Primaria">Primaria</option>
                                                                <option value="Secundaria">Secundaria</option>
                                                                <option value="Preparatoria">Preparatoria</option>
                                                                <option value="Técnico">Técnico</option>
                                                                <option value="Licenciatura">Licenciatura</option>
                                                                <option value="Maestría">Maestría</option>
                                                                <option value="Doctorado">Doctorado</option>
                                                            </select>
                                                        </div>
                                            
                                                        <!-- Tipo de Puesto -->
                                                        <div class="form-group">
                                                            <label for="tipo_puesto">Tipo de Puesto:</label>
                                                            <select class="form-control" id="tipo_puesto" name="tipo_puesto" required>
                                                                <option value="">Seleccione</option>
                                                                <option value="Operativo">Operativo</option>
                                                                <option value="Administrativo">Administrativo</option>
                                                            </select>
                                                        </div>
                                            
                                                        <!-- Categoría de Puesto -->
                                                        <div class="form-group">
                                                            <label for="categoria_puesto">Categoría de Puesto:</label>
                                                            <input type="text" class="form-control" id="categoria_puesto" name="categoria_puesto" placeholder="Ej: Operador de prensa" required>
                                                        </div>
                                            
                                                        <!-- Antigüedad -->
                                                        <div class="form-group">
                                                            <label for="antiguedad">Antigüedad:</label>
                                                            <select class="form-control" id="antiguedad" name="antiguedad" required>
                                                                <option value="">Seleccione</option>
                                                                <option value="Menos de 12 meses">Menos de 12 meses</option>
                                                                <option value="1 año o más" >1 año o más</option>
                                                            </select>
                                                        </div>
                                            
                                                        <!-- Botón de Enviar -->
                                                        <button type="submit" class="btn btn-primary" id="submit-btn" onclick="confirmation_encuesta10()">Guardar Encuesta</button>
                                                    </form>
                                                </div>
                                            </div>
                                                   
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>

                    <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <script>
                function confirmation_encuesta10() {
    // Mostrar ventana emergente SweetAlert2
         
        
            
            // Si el empleado fue validado correctamente, redirige al curso
            Swal.fire({
                    title: 'Guardado',
                    text: 'Colaborador registrado, redirigiendo...',
                    icon: 'success'
                }).then(() => {
                    window.location.href = '/'; // Redirige al usuario a la página
                });
        }
    
            </script>
            <script>
                $(document).ready(function() {
                    // Monitorear el input en tiempo real
                    $('#id_empleado').on('input', function() {
                        const id_empleado = $(this).val();
                        
                        if (id_empleado) {
                            // Hacer la petición a la API para verificar si el empleado ya existe
                            $.ajax({
                                url: 'http://localhost:3000/asistencia-auth',
                                method: 'POST',
                                contentType: 'application/json', // Asegurarse de que el contenido se envíe como JSON
                                data: JSON.stringify({ id_empleado: id_empleado }), // Convertir el valor en JSON
                                success: function(response) {
                                    if (response.exists) {
                                        // Mostrar el mensaje de error si el empleado ya existe
                                        $('#empleado-error').show();
                                        $('#submit-btn').prop('disabled', true); // Desactivar el botón de submit
                                    } else {
                                        // Ocultar el mensaje de error y habilitar el botón de submit si no existe
                                        $('#empleado-error').hide();
                                        $('#submit-btn').prop('disabled', false);
                                    }
                                }
                            });
                        } else {
                            // Si el campo está vacío, desactivar el botón de submit
                            $('#submit-btn').prop('disabled', true);
                            $('#empleado-error').hide();
                        }
                    });
                });
                </script>
                
            

<script>
    $(document).ready(function() {
        // Monitorear el input en tiempo real
        $('#id_empleado').on('input', function() {
            const id_empleado = $(this).val();
            
            if (id_empleado) {
                // Hacer la petición a la API para verificar si el empleado ya existe
                $.ajax({
                    url: 'http://localhost:3000/asistencia-auth', // URL de la API
                    method: 'GET', // Cambiado a GET si tu API espera una consulta
                    success: function(response) {
                        // Verificar si el id_empleado está en la lista de empleados
                        const empleadoExiste = response.some(empleado => empleado.id_empleado == id_empleado);
    
                        if (empleadoExiste) {
                            // Mostrar el mensaje de error si el empleado ya existe
                            $('#empleado-error').show();
                            $('#submit-btn').prop('disabled', true); // Desactivar el botón de submit
                        } else {
                            // Ocultar el mensaje de error y habilitar el botón si no existe
                            $('#empleado-error').hide();
                            $('#submit-btn').prop('disabled', false);
                        }
                    },
                    
                });
            } else {
                // Si el campo está vacío, desactivar el botón de submit
                $('#submit-btn').prop('disabled', true);
                $('#empleado-error').hide();
            }
        });
    });
    </script>
    
            <%- include("template/footer") %>